<footer  class="inner-footer">
  	<div class="inner-wrapper">
    <div class="byAero"></div>

      <div class="buttons">
      	<%= link_to_unless_current "Qué es Unique?", controller: "unique", action: "info"%><span>|</span><%= link_to_unless_current "Consultanos", controller: "unique", action: "contact"%><span>|</span><%= link_to_unless_current "Informacion por país", controller: "unique", action: "destinations"%>
      </div>
    </div>
</footer>
