<footer  class="inner-footer">
  	<div class="inner-wrapper">
    <div class="byAero"></div>

      <div class="buttons">
      	<%= link_to "Qué es Unique?", controller: "unique", action: "info"%>|<%= link_to "Consultanos", controller: "unique", action: "contacto"%>|<%# <%= link_to "Qué es Unique?", controller: "unique", action: "info"%><a href>Información por destinos</a>
      </div>
    </div>
</footer>
