<footer  class="inner-footer">
  	<div class="inner-wrapper">
    <div class="byAero"></div>

      <div class="buttons">
        <a href>Qué es Unique?</a><span>|</span><a href>Consultanos</a><span>|</span><a href>Información por destinos</a>
      </div>
    </div>
</footer>
