<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Datos de la consulta</h2>

	<p><strong>Nombre y apellido:</strong> <%= @nombre_apellido %></p>
	<p><strong>Agencia:</strong> <%= @empresa %></p>
	<p><strong>Mail:</strong> <%= @email %></p>
	<p><strong>Consulta:</strong> <%= @consulta %></p>
  </body>
</html>
