<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Datos del circuito</h2>

	<p><strong>Nombre:</strong> <%= @program.name %></p></br>
	<p><strong>Descripcion:</strong></p>
  <p><%= @program.description.html_safe %></p></br>
	<p><strong>Tarifas:</strong></p>
	<p><%= @program.prices.html_safe %></p>
  <p><strong>Informacion:</strong></p></br>
  <p><%= @program.text.html_safe %></p>
  </body>
</html>