<header class="head bimg-06">
       <%= render 'partials/search' %>
    <h1>CONTACTO</h1>	
  </header>
  
  <div class="content-wrapper">
  
  <form id="contact">
  	<fieldset>
      <label for="name">Nombre y Apellido</label>
      <input name="name" type="text">
      <label for="campany">Empresa</label>
      <input name="campany" type="text">
      <label for="email">EMAIL</label>
      <input name="email" type="text">
      <label for="msg">CONSULTA</label>
      <textarea name="msg" rows="3"></textarea>
      <br class="clearfix"/>
    </fieldset>
    <input name="submitBtn" type="button" value="ENVIAR" class="submitBtn">
  </form>        	
  <br class="clearfix"/>
</div>