<div>
    <ul>
		<li><%= link_to raw("Que es <strong>UNIQUE</strong>"), unique_info_path %></li>
		<li><%= link_to raw("Destinos <strong>UNIQUE</strong>"), unique_destinations_path %></li>
		<li><%= link_to "Consultanos", unique_contact_path %></li>
    </ul>
</div>
