<script>
    // (function($){
    //     $(window).load(function(){
    //         $("#content").mCustomScrollbar({
				// 	scrollButtons:{enable:true},
				// 	theme:"light-thick",
					
				// 	scrollbarPosition:"outside"
				// });
			
    //     });
    // })(jQuery);
</script>
<header class="head header bimg-10">
        	       <%= render 'partials/search' %>

            <h1>Qué es UNIQUE?</h1>	
        </header>
<div class="content-wrapper">
        
          <div class="info-wrapper" id="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus augue, interdum eu magna id, tempus semper metus. Vestibulum sed dictum enim. Quisque iaculis enim non viverra ornare. Proin et lorem felis. Etiam elementum, urna at rutrum placerat, lorem urna placerat risus, at aliquet lorem odio ut ipsum. Duis sit amet dolor et odio imperdiet ultricies eu eu nulla. Pellentesque sit amet enim ligula. Mauris vitae quam et purus hendrerit pharetra ut id libero. Mauris tristique viverra imperdiet. Integer elementum diam libero, eget commodo metus congue sit amet.</p><p>Vivamus congue eu tortor at vehicula. Morbi feugiat augue quam, vel consectetur nunc dictum vel. Phasellus in purus mauris. Curabitur auctor diam venenatis consequat scelerisque. Donec interdum a ipsum vitae adipiscing. Curabitur vel velit nec sapien tincidunt laoreet. Maecenas ac tellus faucibus, rhoncus tortor vitae, pellentesque nibh. Donec mi enim, egestas eget tristique at, rhoncus eu risus. Nulla sollicitudin eu dolor vitae ultricies. Phasellus felis purus, bibendum ac fringilla non, mollis ac mauris. Proin et scelerisque ligula, non feugiat augue. Sed accumsan erat nunc, nec convallis sapien sodales eu.</p><p>Sed odio mauris, faucibus quis risus id, lobortis iaculis ante. Suspendisse gravida nibh turpis, in consectetur arcu interdum nec. Duis fringilla ante tincidunt augue aliquam, a pretium diam elementum. Nullam vel arcu nisi. Nunc dapibus pellentesque sodales. Fusce imperdiet, tellus ac sollicitudin adipiscing, leo arcu laoreet sem, et condimentum lacus nisi at nisi. Suspendisse pretium purus congue, scelerisque ipsum at, convallis sem. Cras consequat lectus sed neque rhoncus, nec venenatis ligula dignissim. Cras vitae imperdiet risus. Cras cursus placerat mattis. Duis sed vehicula turpis, ac congue diam. Etiam rutrum ultrices ante eget pellentesque. Nam nec nulla at arcu convallis venenatis vitae in arcu. Nunc cursus at urna pellentesque porta. Nam facilisis facilisis lorem eu dapibus. Proin iaculis non arcu non rutrum.</p><p>Aliquam vel malesuada sapien, eget lobortis ante. Maecenas at metus et leo pellentesque sagittis nec ut lectus. Donec eu risus magna. Vestibulum volutpat, justo sed elementum placerat, enim arcu elementum sapien, ut vestibulum erat massa id dolor. Fusce gravida nibh sapien, non pellentesque nulla mollis a. Pellentesque aliquam velit eu orci tristique, vitae dictum felis rhoncus. Nam varius molestie quam eu aliquam.</p><p>Etiam id magna pretium, aliquam lectus sit amet, rutrum erat. Donec imperdiet interdum ante porttitor aliquam. Integer luctus facilisis felis eget semper. Donec tellus mi, pulvinar at ornare vitae, dignissim vitae lacus. Mauris ultricies, nunc lobortis tincidunt dignissim, mauris dolor lobortis velit, accumsan eleifend nunc mauris vitae libero. Donec pretium venenatis turpis, et lobortis velit facilisis ut. Donec pulvinar est ante, eget euismod velit egestas blandit. Ut mollis iaculis tellus eget tempor. Suspendisse venenatis ligula ac sapien tincidunt, et convallis sem sodales. Fusce ante nisl, eleifend eu auctor ut, rhoncus ac leo. Quisque venenatis quam laoreet erat sollicitudin, sed laoreet sapien ultrices. Sed nisi mi, bibendum eleifend tempor vel, pulvinar vel enim. Suspendisse blandit tortor sem, fermentum porttitor felis pharetra ut. Nullam bibendum nibh quis orci faucibus, sit amet lacinia dui convallis. Nam mi risus, congue sed interdum id, commodo a ligula. </p>
            </div>
        </div>