<div>
	<div><div>QUE ES <strong>UNIQUE</strong></div></div>
	<div>
		<div>
			<p>Es un producto pensado por AERO para superar las expectativas de tus clientes más exigentes, con 
			atención personalizada brindando el mejor servicio con el respaldo y la seguridad de siempre.</p>

			<p>Con AERO Unique no vas a vender un viaje, vas a poder ofrecerles a tus paxs experiencias y 
			emociones inolvidables, muchas de ellas soñadas y otras inimaginables hasta hoy. </p>

			<p>AERO Unique está pensado para que tus clientes se sientan únicos, atendiendo a todas sus 
			necesidades, enfocando nuestro trabajo en cada detalle de la experiencia.</p>

			<p>Con AERO Unique podés vender destinos no tradicionales y exóticos con el mejor asesoramiento, 
			profesionalismo y variedad de servicios, para salidas Individuales y grupales, acompañadas desde 
			Buenos Aires con toda la confianza, seguridad y tranquilidad que te ofrece AERO, una empresa con 
			más de cincuenta años de experiencia en Turismo.</p>

			<p>Te esperamos para que disfrutes de este nuevo servicio…</p>
			<p>Unique, <em>viajes únicos, experiencias únicas.</em><p>
		</div>
	</div>
	<ul>
		<li><%= link_to raw("<span>Destinos <strong>unique</strong></span>"), unique_destinations_path %></li>
		<li><%= link_to raw("<span><strong>CONSULTANOS</strong></span>"), unique_contact_path %></li>
	</ul>
</div>
