<script>
    (function($){
        $(window).load(function(){
            $("#content").mCustomScrollbar({
					scrollButtons:{enable:true},
					theme:"light-thick",
					
					scrollbarPosition:"outside"
				});
			
        });
    })(jQuery);
</script>
<header class="head bimg-04">
	       <%= render 'partials/search' %>

    <h1>String de busqueda</h1>	
</header>
<div class="content-wrapper">
        	<div class="info-wrapper rslt-wrapper" id="content">
                
        	<!-- comienza lo que se tiene que repetir -->
                <div class="rsltItem">
                    <div class="infoCol">
                        <h2>SAFARI CLÁSICO <small>5 DÍAS / 6 NOCHES</small></h2>
                        <!-- <img src="images/iDst_thumb_example.jpg" class="inCol"/> -->
                        <div class="details">
                            <p><strong>Salidas:</strong> Todos los Martes y Jueves <strong>Recorriendo:</strong> Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha /Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha/ Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha.</p>
                            <input type="button" value="+info" class="infoBtn"/>
                        </div>
                    </div>
                    <img src="images/iDst_thumb_example.jpg"  class="outCol"/>
                </div>
                <!-- termina lo que se tiene que repetir -->
                <div class="rsltItem">
                    <div class="infoCol">
                        <h2>SAFARI CLÁSICO <small>5 DÍAS / 6 NOCHES</small></h2>
                        <img src="images/iDst_thumb_example.jpg" class="inCol"/>
                        <div class="details">
                            <p><strong>Salidas:</strong> Todos los Martes y Jueves <strong>Recorriendo:</strong> Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha /Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha/ Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha.</p>
                            <input type="button" value="+info" class="infoBtn"/>
                        </div>
                    </div>
                    <img src="images/iDst_thumb_example.jpg"  class="outCol"/>
                </div>
                
                <div class="rsltItem">
                    <div class="infoCol">
                        <h2>SAFARI CLÁSICO <small>5 DÍAS / 6 NOCHES</small></h2>
                        <img src="images/iDst_thumb_example.jpg" class="inCol"/>
                        <div class="details">
                            <p><strong>Salidas:</strong> Todos los Martes y Jueves <strong>Recorriendo:</strong> Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha /Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha/ Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha.</p>
                            <input type="button" value="+info" class="infoBtn"/>
                        </div>
                    </div>
                    <img src="images/iDst_thumb_example.jpg"  class="outCol"/>
                </div>
                
                <div class="rsltItem">
                    <div class="infoCol">
                        <h2>SAFARI CLÁSICO <small>5 DÍAS / 6 NOCHES</small></h2>
                        <img src="images/iDst_thumb_example.jpg" class="inCol"/>
                        <div class="details">
                            <p><strong>Salidas:</strong> Todos los Martes y Jueves <strong>Recorriendo:</strong> Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha /Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha/ Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha.</p>
                            <input type="button" value="+info" class="infoBtn"/>
                        </div>
                    </div>
                    <img src="images/iDst_thumb_example.jpg"  class="outCol"/>
                </div>
                
                <div class="rsltItem">
                    <div class="infoCol">
                        <h2>SAFARI CLÁSICO <small>5 DÍAS / 6 NOCHES</small></h2>
                        <img src="images/iDst_thumb_example.jpg" class="inCol"/>
                        <div class="details">
                            <p><strong>Salidas:</strong> Todos los Martes y Jueves <strong>Recorriendo:</strong> Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha /Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha/ Nairobi / Monte Aberdare / Lago Nakuru / Lago Naivasha.</p>
                            <input type="button" value="+info" class="infoBtn"/>
                        </div>
                    </div>
                    <img src="images/iDst_thumb_example.jpg"  class="outCol"/>
                </div>
             </div>
        </div>	