<!DOCTYPE html>
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="es">
  <!--<![endif]-->
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Unique :: un producto de Aero</title>
    <%= stylesheet_link_tag    'application', 'easydropdown.flat', 'responsive', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'minified/jquery-1.9.1.min','jquery.easydropdown.min.min', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<body>

<%= yield %>

</body>
</html>
